@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.custom-scroll::-webkit-scrollbar {
  width: 0; /* Ẩn thanh cuộn ngang */
  height: 0; /* Ẩn thanh cuộn dọc */
}

.custom-scroll {
  scrollbar-width: none; /* Firefox: Ẩn thanh cuộn */
}

/* Đối với tất cả trình duyệt khác, đảm bảo chúng sử dụng cuộn tự động */
.custom-scroll {
  overflow-y: auto; /* Bảo đảm cuộn dọc hoạt động */
  overflow-x: hidden; /* Bảo đảm không có cuộn ngang */
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #000;
}

/* Make video responsive and fill the container */
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 12px; 
}


